/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}



.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements a {
    width: 32%;
    margin: 5px auto;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.hebergements-cards .card img {
    height: 119px;
    border-radius: 20px 20px 0 0;
    border-bottom: solid 5px white;
    
    
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-bottom: 12px;
}


.plus {
    font-weight: bold;
}









/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61px;
    height: 19px;
    margin: 30px auto;
}

nav ul {
    display: flex;
    list-style: none;
    color: black;
    font-size: 16px;
    margin-top: 0;
}

nav a:hover {
    cursor: pointer;
    color: #0065FC;
}

nav li:hover {
    border-top: #0065FC solid 1px;
}

nav ul li {
    margin: auto 35px;
    padding-top: 15px;
}

.active {
    color: #0065FC;
    border-top: #0065FC solid 1px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sous-titre {
    margin: 0 auto 35px auto;
    font-size: 16px;
    font-weight: 400;
}

.rechercher {
    display: flex;
}

.rechercher i {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    color: black;
    font-size: 15px;
}

.rechercher input {
    border: #F2F2F2 solid 1px;
    height: 46px;
    font-size: 18px;
    font-weight: 900;
    color :black
    width: 175px;
    padding-left: 20px;

}

.rechercher button {
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    background-color: #0065FC;
}

div#filter h3 {
    font-size: 18px;
    font-weight: 700;
}

div#filter {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

div#filter div {
    margin-left: 15px;
    border: 3px solid var(--main-bg-color);
    border-radius: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#filter div:hover {
background-color: #DEEBFF ;
cursor: pointer ;

}


div#filter p {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    margin: auto 19px;
}

div#filter i {
    font-size: 20px;
    margin-right: 10px
}

.info i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 8px 14px;
    text-align: center;
}

/***Activités***/

.section-activites {
    margin-bottom: 35px;
    padding:30px;
}

.activites-cards {
    display: flex;
    margin: 0;
    gap: 30px;
}

.activites-cards a { 
    width: 25%; 
}


.activites-cards .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.activites .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.activites-cards .card-content {
    padding: 10px 19px;
    
}

/***Footer***/

.bas-de-page {
    margin-top: 35px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 33%;
    padding: 15px;
}

.h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

/***Footer***/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}