/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --font: #FFFFFF;
}



body{                                             /* ************** Police et balises générales ******* */
    background-color: var(--fond);                                    
    font-family: 'Raleway', sans-serif;
    margin: 20px auto 20px auto;
    max-width: 1400px;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: #000000;
}
p{
    margin: 0px;
    font-size: 1em;
    font-weight: 400;
}
.entete{                                                  /* ************* Entête ********** */
    display: flex;
    justify-content: space-between;
    height: 126px;
}
.icone-booki{
    height: 20px;
    
}
.menu{
    display: flex;
    margin-right: 40px;
}
.menu p{
    font-size: 1.2em;
}
.menu__bouton-hebergements{
    display: flex;
    justify-content: center;
    border: transparent solid 2px;
    padding: 0px 40px 0 40px;
}
.menu__bouton-hebergements:hover{
    border-top: 2px solid #0065FC;
}
.menu__bouton-hebergements:hover a{
    color: #0065FC;
}
.menu__bouton-activites{
    display: flex;
    justify-content: center;
    border: transparent solid 2px;
    padding: 0px 40px 0 40px;
}
.menu__bouton-activites:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.menu__bouton-activites:hover a{
    color: #0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}



.article{                             /* ************* Article - Trouvez votre hébergement pour des vacances de rêve ********* */
    padding: 0px 0px 0px 55px;
}
h1{
   font-weight: 700;
   font-size: 1.4em;
}

.sous-titre{
    font-size: 18px;
}
.barre-recherche{                                                  /* Barre de Recherche */
   display: flex;
   margin: 20px 0px 30px 0px;
}
.barre-recherche__bouton-localisation{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 49px;
   background-color: #F2F2F2;
   border-radius: 15px 0px 0px 15px;
   font-size: 1.5em;
}
.barre-recherche__bouton-localisation:hover{
   background-color: #222222;
}
.barre-recherche__bouton-localisation:hover .fa-location-dot{
   color: #D9D9D9;
}
form{
   display: flex;
}
.barre-recherche__ville{
   padding: 0 10px 0 10px;
   border: 1px solid #F2F2F2;
   font-size: 1.1em;
   font-weight: 700;
}
.barre-recherche__rechercher{
   font-size: 1.1em;
   font-weight: 700;
   width: 132px;
   height: 51px;
   background-color: #0065FC;
   border: 1px solid #0065FC;
   border-radius: 0px 15px 15px 0px;
   color: #FFFFFF;
}
.barre-recherche__rechercher:hover{
   color: #0065FC;
   cursor: pointer;
   background-color: #DEEBFF;
   border: 1px solid #F2F2F2;
}
.barre-recherche__loupe{
   display: none;
}
.filtres{                                                           /* Filtres */
   display: flex;
   align-items: center;
   margin: 20px 50px 0 0;
}
.filtres h3{
   margin: 10px 10px 10px 0px;
   font-size: 1.2em;
}
.filtres p{
   margin: 0 10px;
   font-weight: 700;
}.filtres__economique-et-familial, .filtres__romantique-et-pépites{                 
   display: flex;
}
.filtres__economique, .filtres__familial, .filtres__romantique, .filtres__pépites{
   display: flex;
   height: 50px;
   align-items: center;
   border: 2px solid #F2F2F2;
   border-radius: 25px;
   padding: 0px 20px;
   margin: 0 10px;
}
.filtres__economique:hover, .filtres__familial:hover, .filtres__romantique:hover, .filtres__pépites:hover{
   background-color: #F2F2F2;
}
.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
   width: 20px;
   font-size: 1.5em;
   color:  #0065FC;
   margin-right: 5px;
}
.informations{
   display: flex;
   align-items: center;
   margin: 0 5px 39px 0;
}
.informations__icone{
   display: flex;
   width: 24px;
   height: 24px;
   border: 1px solid #D9D9D9;
   border-radius: 50%;
   margin: 0 11px 0 0;
}
.fa-info{
   color: #0065FC;
   margin: auto;
   font-size: 14px;
}

/*---------------- Barre de recherche---------*/

.search-container{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.location{
   display: flex;
   height: 50px;
   width: 45px;
   background-color: rgb(234, 234, 235);
   border: 1px solid #ffff;
   border-radius: 15px 0 0 15px;
   padding: 1.2px;

}
.location i{
    padding: 17px;
    align-items: center;
    color: rgb(68, 67, 67);
}
.form-container{
    width: 100%;
}
form{
    display: flex;
    flex-direction: row;
}
form input{
    width: 78%;
    height: 49px;
    text-align: left;
    border: 1px solid #e2e2e2;
    font-size: 1.1em;
}
.button-container .button1{
    height: 54px;
    width: 120px;
    background-color: #0065FC;
    border: 1px solid #fff;
    border-radius: 0 10px 10px 0;
    font-size: 1.1em;
    color: #fff;
    padding: 1.2px;
}
.button1:hover{
    cursor: pointer;
}
.button2{
    display: none;
}

a {
    color: #000000;
    text-decoration: none;
}
p{
    margin: 0px;
    font-size: 1em;
    font-weight: 400;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.fa-star {
color: #0065FC;
}                                                               

.neutral-star {
    color: var(--main-bg-color)
}
.search-bar-loup{
    display: none;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements a {
    width: 32%;
    margin: 5px auto;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.hebergements-cards .card img {
    height: 119px;
    border-radius: 20px 20px 0 0;
    border-bottom: solid 5px white;
    
    
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-bottom: 12px;
}


.plus {
    font-weight: bold;
}






/****** Populaires ***********/
.populaires {
    width: 32%;
}

.fa-chart-line {
    color: #0065FC;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



.sous-titre {
    margin: 0 auto 35px auto;
    font-size: 16px;
    font-weight: 400;
}

.rechercher {
    display: flex;
}

.rechercher i {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    color: black;
    font-size: 15px;
}

.rechercher input {
    border: #F2F2F2 solid 1px;
    height: 46px;
    font-size: 18px;
    font-weight: 900;
    color : black;
    width: 175px;
    padding-left: 20px;

}

.rechercher button {
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    background-color: #0065FC;
}

/*--------- Filter -----------------------------*/

.filter-container{
    display: flex;
    flex-direction: row;
}
.filters{
    display: flex;
    flex-direction: row;
}
div#filter h3 {
    font-size: 18px;
    font-weight: 700;
}

div#filter {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

div#filter div {
    margin-left: 15px;
    border: 3px solid var(--main-bg-color);
    border-radius: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#filter div:hover {
background-color: #DEEBFF ;
cursor: pointer ;

}


div#filter p {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    margin: auto 19px;
}

div#filter i {
    font-size: 20px;
    margin-right: 10px
}

.info i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 8px 14px;
    text-align: center;
}

/***Activités***/

.section-activites {
    margin-bottom: 35px;
    padding:30px;
}

.activites-cards {
    display: flex;
    margin: 0;
    gap: 30px;
}

.activites-cards a { 
    width: 25%; 
}


.activites-cards .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.activites .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.activites-cards .card-content {
    padding: 10px 19px;
    
}


/***Footer***/

.bas-de-page {
    margin-top: 35px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 33%;
    padding: 15px;
    line-height: 30px;
}


.h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/*------------------------- TABLETE CODE NOUVEAU----------------------------------------------*/
@media screen and (max-width: 991px){
    .filtres{                                                         /* ************ Filtres ******************* */
       
        justify-content: flex-start;
        padding: 0;
    }
    .filtres__economique, .filtres__familial, .filtres__romantique, .filtres__pépites{
        justify-content: center;
        font-size: 0.9em;
        width: auto; 
        box-sizing: border-box;
        margin: 0 10px 0 0;
        padding: 0 10px;
    } 
    .fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
        font-size: 1.2em;
    }
    @media screen and (max-width: 850px){
        .filtres__animaux{
            width: 48%;
        }
    }
}

/*----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {

    /* Filtres version tablette  */
    .filter-buttons { 
        font-size: 25px;
        gap: 18px;
    }

    #filter div {

        min-width : fit-content;
    }
    .filters { 
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
   
    /* section hebergements  */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    /* section populaire  */

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
      /* Section Activites  */

      .activites-cards img { height: 200px; }
      .activites-cards .card-content { white-space: initial;}
      .activites-cards .card { height: 100%; }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {
    /* ... */
    body{
        margin: 0;
    }

    .main-container {
        padding: 0;
    }
    /* Header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      .entete{                                       /* ****************** Entête ****************** */
        display: flex; 
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
    }
    .icone-booki{
        padding: 0;
    }
    .menu{
        width: 100%;
        margin: 0;
    }
    .menu__bouton-hebergements{
        width: 50%;
        padding-bottom: 20px;           
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        box-sizing: border-box;
        border-bottom: 4px solid #F2F2F2;
        border-top: transparent 4px solid;
    }
    .menu__bouton-hebergements:hover{
        border-bottom: 4px solid #0065FC;
        border-top: transparent 4px solid;
    }
    .menu__bouton-activites{
        width:50%;
        border-bottom: 4px solid #F2F2F2;
        border-top: transparent 4px solid;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
    .menu__bouton-activites:hover{
        border-bottom: 4px solid #0065FC;
        border-top: 4px solid transparent;
    }
    .article{                /* ****************** Article Trouver un Hébergement ***************** */
        margin: 0;
        padding: 20px 20px 30px 20px;
    }
    .barre-recherche{                                        /* Barre de Recherche */
        display: flex;
        justify-content: flex-start; 
        margin: 30px 0 20px 0;
        padding:0;
    }
    form{
        width: 100%;
    }
    .barre-recherche__bouton-localisation{
        width: 35%;
    }
    .barre-recherche__ville{
        width: 100%;
    }
    .barre-recherche__rechercher{
        display: none;
    }
    .barre-recherche__loupe{
        flex-grow: 1;
        font-size: 1.2em;
        font-weight: 700;
        height: 51px;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        color: #FFFFFF;
    }
    .barre-recherche__loupe:hover{
        color: #0065FC;
        cursor: pointer;
        background-color: #DEEBFF;
        border: 1px solid #F2F2F2;
    }
    .filtres{                                                            /* Filtres */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .filtres h3, .informations{
        margin-left: 20px;
    }.filtres__economique-et-familial, .filtres__romantique-et-pépites{                 
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0px;
     }
     .filtres__economique, .filtres__familial, .filtres__romantique, .filtres__pépites{
         width: 40%;
         box-sizing: content-box;
         margin: 0;
     } 
     .filtres__economique i, .filtres__economique p{
        box-sizing: content-box;
     }
    .informations{
        margin: 20px 0 0 0;
    }
 

  
    /**/
    
    nav {
        width: 100%;
        display: grid;
        gap: 0;
        padding-top: 0;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    
    nav li{
        flex: 1;
        text-align: center;
        display: flex;
    }
    
    
    
    .main-article{
        margin: 0;
        padding: 20px 20px 10px 20px;
    }
    .sous-titre {
        margin: 10px;
        padding: 20px 20px 30px 20px;
    }
    
    /* barre de recherche  */
   form input{
    height: 50px;
    padding: 1.2px;
   }
   .search-container{
      width: 97%;
      padding: 18px;
   }
   .button1{
    display: none;
   }
   .button2{
    display: flex;
    height: 49px;
    width: 45px;
    background-color: #0065FC;
    border: 1px solid #ffff;
    border-radius: 0 15px 15px 0;
    padding: 1.1px;
   }
   .button2 i{
    padding: 17px;
    align-items: center;
    color: white;
   }

    /* Filtres */
    
    .filters-buttons  {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px 10px;
    }
    
    .filter-button {
        font-weight: 700;
        font-size: 12px;
        justify-content: center;
        width: calc(50% - 15px);
    }
    .info-text{
        font-size:15px;
    }
    
    /***** populaire section *****/

    .populaires { order: -1; }
    .populaires-cards { flex-direction: column; }
    .populaires-cards a { width: 100%; }

          
     /***** hebergements sections *****/

    .hebergements-and-populaires {
        padding: 0;
        margin: 0;
    }
     .hebergements-and-populaires .hebergements { background-color: white; }
     .hebergements-cards { 
        flex-direction: column; 
        max-width: 500px
    }
     .hebergements-cards a { width: 100% ;}
 
     .hebergements-and-populaires section { 
        border-radius: 0;
        padding: 30px 20px;
    }
     
   
    
    /***** activites sections  *****/

    .section-activites { padding: 30px; }
    .activites-cards img { 
        height: 140px;
        max-width: 500px;
    }
    .activites-cards { 
        flex-direction: column;  
        gap: 15px;
        max-width: 501px;
    }
    .activites-cards a { width: 100%; }


    /****** Footer ******/
    .bas-de-page {
        flex-direction: column;
        gap: 30px;
        padding: 15px;
    }

    .information {
        width: 100%;
        padding: 0;
    }
}

